
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

nav ul{
    display: flex;
    list-style: none;
    gap: 27px;
    margin-right: 43px;
    margin-top: 0px;
    margin-bottom: 2px;
}

nav ul li a{
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;     
    text-transform: uppercase;
    font-weight: 755;
    color: #060606;
}

.pixarlogo{
    display: flex;
    justify-content: flex-start;
    margin-right: 450px;
}

#logo{
    display: block;
    margin-right: 500px;
}

.grid-item{
    opacity: 0.4;
}

.grid-item:hover {
    opacity: 0.6;
}

#company {
    opacity: 1;
    background-color: #dee8f1;
    border: 1px solid #dee8f1;
    border-bottom: 15px solid #dee8f1;
}

#company:hover {
    opacity: 0.6;
}

#logo{
    display: block;
    margin-left: 418px; 
}


#companyinfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}