* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.container .wrapper {
    background: red;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.container .wrapper .navbar {
    padding: 10px;
}

.container .wrapper .navbar nav ul {
    display: flex;
    justify-content: space-around;
}
